.navigation-bar{
    display: flex;
    gap:30px;
    justify-content: center;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    align-items: center;
    font-size: 16px;
    padding: 15px 10px;
    box-shadow: 2px 10px 8px rgba(0,0,0,0.15);
}
.navigation-menu{
    position: relative;
    display: flex;
    flex-direction: column;
}

.navigation-menu:hover{
    background-color: rgb(255, 196, 4);
    padding: 5px 40px;
    color: white;
    border-radius: 10px;
}
.navigation-menu:hover>.navigational-buttons{
    opacity: 1;
    pointer-events: auto;
}



.navigational-buttons{
    list-style: none;
    display: flex;
    flex-direction: column;
    position: absolute;
    opacity: 0;
    pointer-events: none;
    margin-top: px;
    left: 0;
    bottom: -122px;
}
.navigational-buttons li{
    margin: -2px;
}
.dropdown-but{
    width: 200px;
    background-color: white;
    border: 0.5px solid gray;
}

